body {
    background-color: #f5ebe0;
    font-family: Arial, sans-serif;
  }
  
  /* Diseño de los containers */
  .contenedor {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-top: 30px;
  }
  
  /* Estilos generales */
  .container {
    background: #fdfaf6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #7d5a50;
  }
  
  /* Tabla de productos */
  .table {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .table th {
    background-color: #e3c6a8;
    color: #5e4635;
  }
  
  .table-hover tbody tr:hover {
    background-color: #f5ebe0;
  }
  
  /* Formulario */
  .form-label {
    font-weight: bold;
    color: #7d5a50;
  }
  
  .form-control {
    border-radius: 5px;
    border: 1px solid #d1bfa7;
    padding: 8px;
  }
  
  button {
    border-radius: 5px;
  }
  
  /* Botones con colores nude */
  .btn-outline-primary {
    border: 1px solid #a67b5b;
    color: #a67b5b;
  }
  
  .btn-outline-primary:hover {
    background-color: #a67b5b;
    color: white;
  }
  
  .btn-outline-danger {
    border: 1px solid #c44d34;
    color: #c44d34;
  }
  
  .btn-outline-danger:hover {
    background-color: #c44d34;
    color: white;
  }
  
  .btn-outline-success {
    border: 1px solid #5b8f7d;
    color: #5b8f7d;
  }
  
  .btn-outline-success:hover {
    background-color: #5b8f7d;
    color: white;
  }
  
  .btn-outline-secondary {
    border: 1px solid #6c757d;
    color: #6c757d;
  }
  
  .btn-outline-secondary:hover {
    background-color: #6c757d;
    color: white;
  }
  
  /* Mensaje de error */
  .error-mensaje {
    color: red;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
  }
  
  /* Estilos para la barra de regreso en esta sección */
  .back-button-container {
    text-align: left;
    padding-left: 10px; /* Espaciado a la izquierda para el botón */
    margin-bottom: 20px;
  }
  
  .btn-back {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #a7a183; /* Color de fondo verde */
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .btn-back i {
    margin-right: 10px;
  }
  
  .btn-back:hover {
    background-color: #393425; /* Efecto hover */
    transform: scale(1.05); /* Efecto de aumento */
  }
  
  .btn-back:focus {
    outline: none;
  }
  